@{
    ViewBag.Title = "Главная страница";
}

<div class="row">
    <div class="col-md-6">
        <h2>Создание договоров</h2>
        <p>
            Создание новых договоров на велопутешествие или поездку за покупками. 
        </p>
        <p><a class="btn btn-default" href="#">Продолжить &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>База данных клиентов</h2>
        <p>База данных клиентов, просмотр, редактирование и удаление клиентов</p>
        <p><a class="btn btn-default" href="#">Продолжить &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Управление рекламой</h2>
        <p>
            Учет и управление рекламными компаниями
        </p>
        <p>@Html.ActionLink("Продолжить", "Index", "Ads", new object { }, new { @class = "btn btn-default" })</p>
    </div>

</div>